// FONTS

$base-font: 'Raleway';
$second-font: 'Oxanium';

// COLORS

$black-color: black;
$white-color: white;
$black-brown-color: #232020;
$grey-brown-color: #3a3535;
$orange-color: #ff7315;
$grey-white-color: #f4f4f4;
$grey-color: #b6b6b6;
$blue-color: #323edd;

// BREAKPOINTS

$breakpoints: (small: 499px,
    medium: 899px,
    large: 999px,
    extra-large: 1399px);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}