.signup {

    &--container {
        display: flex;
        flex-direction: row;
        padding-top: 7%;
        padding-left: 10rem;

        &-forms,
        .forms {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 70%;
            padding: 4rem 2rem;

            &--account,
            .form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                &--input {
                    padding: .5rem 0;
                    font-size: 1.4rem;
                    border: none;
                    border-bottom: 1px solid $grey-color;
                    margin: 1rem 1rem;
                    background-color: transparent;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            &--btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;

                &-account {
                    padding: .8rem 0;
                    width: 100%;
                    border-radius: 2rem;
                    border: 1px solid $blue-color;
                    background-color: $blue-color;
                    color: $white-color;
                    font-size: 1.6rem;
                    font-weight: 300;
                    box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
                    letter-spacing: .1rem;
                    cursor: pointer;

                    &:focus {
                        outline: 0;
                    }

                    &:hover {
                        box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);

                    }
                }
            }

            &--title {
                padding: 1rem 1rem;
                text-align: center;
                letter-spacing: .1rem;
                font-size: 3rem;
                color: $black-brown-color;
            }
        }

        &-img {
            margin-top: 2rem;
            width: 100%;
            height: 300px;
        }
    }
}